<button type="button" title="Add Employee" class="btn btn-success"
    style="color: #ffffff;  margin-bottom: 20px; font-family: 'Poppins' , sans-serif;" data-bs-toggle="modal"
    data-bs-target="#modalEmployeeCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff; "></i>
    Add Employee
</button>

@Html.Partial("PartialEmployeeHealthProfile/AddEmployeeHealthInfo")
@Html.Partial("PartialEmployee/CreateEmployee")
 @Html.Partial("PartialEmployee/EmployeeTable")
@Html.Partial("PartialEmployee/EmployeeUpdate")

@Html.Partial("PartialEmployee/EmployeeInfo")


@* gamit kaayu ni siya para maka pa display og value sa select option *@
<script src="~/lib/jquery/dist/jquery.js"></script>



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/partialjs/Employee.js"></script>
