<h1>Available Date Index</h1>

<button type="button" title="Create Date" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal"
    data-bs-target="#modalDateCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
</button>



@Html.Partial("PartialAvailable/PartialDate/CreateAvailableDate")
@Html.Partial("PartialAvailable/PartialDate/AvailableDateTable")
@Html.Partial("PartialAvailable/PartialDate/AvailableDateUpdate")


<h1>Available Time Index</h1>

<button type="button" title="Create Time" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal"
    data-bs-target="#modalDateTimeCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
</button>

@Html.Partial("PartialAvailable/PartialTime/CreateAvailableDateTime")
@* @Html.Partial("PartialAvailable/AvailableDateTimeTable")
@Html.Partial("PartialAvailable/AvailableDateTimeUpdate") *@


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>

    var selectedDate;
    var selectedDateId;
    var DateList = {};
    var datesame;

     var selectedDateTime;
    var selectedDateTimeId;
    var DateList = {};


    $(document).ready(function () {

        getDate();
        displayDateData();
        

        function getDate() {
            $.ajax("../api/adminapi/getDate")
                .done(function (result) {
                    DateList = result;
                    result.forEach(function (item) {
                        console.log(item);
                        datesame = item.avadate;
                    });

                });
        }

          
      


        $("#createDate").click((e) => {

            console.log("yehey na click jyud ko");
            //     console.log(catname);

            var arrData = {}; //ayaw ni tan dug kani dre nga line
            var formelements = $("#createDateForm .form-group");

            //getting the data from the form
            var formInputs = $("#createDateForm").serializeArray();

            console.log(formInputs);
            formInputs.forEach(function (item) {
                arrData[item.name] = item.value;
            });

            if (formInputs.length === formelements.length && formInputs[0].value !== '') {

                if (formInputs[0].value != datesame) {
                    //AJAX ADD DEPARTMENT
                    $.ajax
                        ({
                            url: "../api/adminapi/AddDate",
                            type: "POST",
                            data:
                            {
                                adddate: arrData
                            },
                        })
                        .done(function () {

                            $("#createDateForm")[0].reset();
                            $("#modalDateCreate").modal("toggle");
                            getDate();
                            getDates();

                            displaySavedProgress();
                            displayDateData();

                        });
                } else {
                    vol1();
                }


            }
            else {
                alertError();
            }
        });


        function displayDateData() {
            $('#DateData').DataTable().destroy();
            if (!$.fn.DataTable.isDataTable('#DateData')) {
                $('#DateData').DataTable({
                    ajax: {
                        url: '../api/adminapi/getDate', // API endpoint to retrieve department
                        dataSrc: ''
                    },
                    columns:
                        [
                            { data: 'dateId' },
                            { data: 'avadate' },
                            {
                                data: 'dateId',
                                render: function (data, type, row) {
                                    return btnAddDate(data);
                                }
                            },
                        ]
                });
            }
            getDate();
             getDates();
        }

        function btnAddDate(dateId) {
            return "<center><a class='btn btn-success DateUpdate' data-dateId=" + dateId + "><i class='fa-solid fa-pen-to-square' style='color : #ffffff;'></i></a> | <a class='btn btn-danger DateDelete' data-dateId=" + dateId + "><i class='fa-solid fa-trash' style='color : #ffffff;'></i></a></center>"
        }

         $("tbody").delegate(".DateUpdate", "click", function (e) {
            console.log("I was clicked");
            var i = e.target.closest("a").getAttribute("data-dateId");
            if (i != null) {
                $("#createDateForm")[0].reset();
                $("#modalDateUpdate").modal("toggle");

                selectedDateId = i;
                selectedDate = DateList.find(element => element.dateId == i);

                console.log(selectedDate);

                oFormObject = document.forms["updateDateForm"];
                initForm(oFormObject, selectedDate);
            }
        });

        function initForm(form, data) {

            Object.getOwnPropertyNames(data).forEach(function (item) {
                var currentElem = form.elements[item.charAt(0).toUpperCase() + item.slice(1)];

                if (currentElem == null) { return; }
                form.elements[item.charAt(0).toUpperCase() + item.slice(1)].setAttribute("value", data[item]);

            });
        }


 $("#updateDate").click(function () {
            alertSaveChanges();
        });

        function alertSaveChanges() {
            Swal.fire({
                title: 'Do you want to save the changes?',
                confirmButtonText: 'Save',
                showCancelButton: true,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    updateDateHolder();
                }
            })
        }

        function updateDateHolder() {
            
            var arrData = {};
            var formelements = $("#updateDateForm .form-group");

            //getting the data from the form
            var formInputs = $("#updateDateForm").serializeArray();
            formInputs.forEach(function (item) {
                arrData[item.name] = item.value;
            });
            arrData.dateId = selectedDateId;

            if (formInputs.length === formelements.length && formInputs[0].value !== '') {
                 if (formInputs[0].value != datesame) {
                  proceedUpdate(arrData);
                 console.log("gi click lagi ko " + arrData);
                 }else{
                  vol1();
                 }
              
            } else {
                alertError();
            }
        }

        function proceedUpdate(arrData) {
            //AJAX UPDATE DEPARTMENT
            $.ajax
                ({
                    url: "../api/adminapi/updateDate",
                    type: "POST",
                    data:
                    {
                        updat: arrData,
                    },
                })
                .done(function () {
                    $("#updateDateForm")[0].reset();
                    $("#modalDateUpdate").modal("toggle");
                    displayDateData();
                    displaySavedProgress();
                     getDates();
                });
        }

         $("tbody").delegate(".DateDelete", "click", function (e) {
            var i = e.target.closest("a").getAttribute("data-dateId");
            if (i != null) {
                //Insert code here for the delete
                selectedDateId = i;
                console.log(selectedDateId + "mao ni siya");
                alertDeleteConfirmation();
            }
        });

        function alertDeleteConfirmation() {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to Delete this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    proceedDelete();
                }
            })
        }

        function proceedDelete() {
            console.log(selectedDateId + "proceed");
            //AJAX DELETE DEPARTMENT
            $.ajax
                ({
                    url: "../api/adminapi/deleteDate",
                    type: "POST",
                    data:
                
        {
                        id: selectedDateId
                    },
                })
                .done(function () {
                    displayDateData();
                    alertDeleteInfo();
                     getDates();
                });
        }
         //end of date function create update delete /////////////////////


  ///funtion start  time ccretae update delete
        function getDates() {
            $.ajax("../api/adminapi/getDate")
                .done(function (result) {
                    
                    var template = document.querySelector("template#DateOptionTemplate");
                    var parent = document.querySelectorAll("#catSelect");
                    

                    for (i = 0; i < parent.length; i++) {
                        result.forEach(function (item) {
                            var cloned = template.content.cloneNode(true);
                            cloned.querySelector("option").value = item.dateId;
                            cloned.querySelector("option").innerText = item.avadate;

                            parent[i].prepend(cloned);
                        });
                    }

                });
                
        }


  /// function create time
        $("#createDateTime").click((e) => {

            console.log("yehey na click jyud ko");
            // console.log(equipname);

            var arrData = {}; //ayaw ni tan dug kani dre nga line
            var formelements = $("#createDateTimeForm .form-group");

            //getting the data from the form
            var formInputs = $("#createDateTimeForm").serializeArray();
            formInputs.forEach(function (item) {
                arrData[item.name] = item.value;
            });

            if (formInputs.length === formelements.length && formInputs[0].value !== ''){ 
          

                
                    //AJAX ADD Equipment
                    console.log(formInputs);
                    $.ajax
                        ({
                            url: "../api/adminapi/AddDateTime",
                            type: "POST",
                            data:
                            {
                                adddatetime: arrData
                            },
                        })
                        .done(function () {

                            $("#createDateTimeForm")[0].reset();
                            $("#modalDateTimeCreate").modal("toggle");
                            getDate();
                            getDates();

                            displaySavedProgress();
                           // displayDateData();

                        });

            }
            else {
                alertError();
            }
        });

         

        








        function alertDeleteInfo() {
            Swal.fire(
                'Deleted!',
                'Your file has been deleted.',
                'success'
            )
        }


        function vol1() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Inputted name is already in the data',
            })
        }
        function alertError() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Input the necessary elements!',
            })
        }

        function displaySavedProgress() {
            Swal.fire({
                icon: 'success',
                title: 'Your work has been saved',
                showConfirmButton: false,
                timer: 1500
            })

        }

    }); //Don't touch this putang ina mo ka

</script>