<h1>Available Date Data</h1>

<button type="button" title="Create Date" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal"
    data-bs-target="#modalDateCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    Add Date
</button>


@Html.Partial("PartialAvailable/PartialDate/AvailableDateUpdate")
@Html.Partial("PartialAvailable/PartialDate/CreateAvailableDate")
@Html.Partial("PartialAvailable/PartialDate/AvailableDateTable")



<h1>Available Time Data</h1>

<button type="button" title="Create Time" class="btn btn-success" style="color: #ffffff;" data-bs-toggle="modal"
    data-bs-target="#modalDateTimeCreate">
    <i class="fa-solid fa-circle-plus" style="color: #ffffff;"></i>
    Add Time
</button>



@Html.Partial("PartialAvailable/PartialTime/CreateAvailableDateTime")
@Html.Partial("PartialAvailable/PartialTime/AvailableTimeTable")
@Html.Partial("PartialAvailable/PartialTime/AvailableDateTimeUpdate")



<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/partialjs/DateTime.js"></script>

